<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.wallpaper.mapper.UserCommentMapper">

    <resultMap id="BaseResultMap" type="com.wang.wallpaper.entity.UserComment">
            <id property="commentId" column="comment_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="wallId" column="wall_id" jdbcType="BIGINT"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        comment_id,user_id,wall_id,
        comment,create_time,update_time,
        status
    </sql>
    <select id="pageList" resultType="com.wang.wallpaper.pojo.UserCommentVO">
        SELECT
            uc.*,w.wall_path,w.wall_name,u.username,u.nickname from t_user_comment uc
                LEFT JOIN t_wall w on uc.wall_id = w.wall_id
                left join t_user u on uc.user_id = u.user_id
          order by uc.create_time desc
    </select>
</mapper>
